.contacts{
    background: #2a2c2f;
    margin: 0 auto;
    max-width: 1184px;
    max-height: 740px;
    background-image: url(../images/about__background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contacts__overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*padding: 243px 264px;*/
    text-align: center;
    opacity: 0.8;
    transition: opacity 1s ease-in-out;
}

.contacts__overlay:hover{
    background: #2a2c2f;
    opacity: 0.5;
    z-index: 1;
}

.contacts__overlay-title{
    margin: 243px 264px 32px;
    font-family: "Inter", Arial, sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 76px;
    letter-spacing: 0em;
    text-align: center;
}

.contacts__overlay-subtitle{
    margin: 0;
}

.contacts__address{
    margin: 0;
    font-family: "Inter", Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
}

.contacts__button{
    background-color: #0278fe;
    text-decoration: none;
    margin-top: 32px;
    margin-bottom: 243px;
    padding: 13px 20px;
    border-radius: 4px;
    color: #fff;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21.78px;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
    grid-area: button;
}

.contacts__button:hover {
    background: #0063d2;
    z-index: 2;
  }

  @media screen and (max-width: 960px) {
      .contacts{
          width: 100%;
          max-height: 746px;
      }

      .contacts__overlay-title{
          margin: 246px 56px 32px;
      }

      .contacts__button{
          margin-bottom: 246px;
      }
  }

  @media screen and (max-width: 600px) {
      .contacts{
          margin-top: 64px;
      }
      
      .contacts__overlay{
        min-height: 254px;
        gap: 16px;
        padding: 0;
      }

      .contacts__overlay-title{
          margin: 46px 16px 16px;
          font-size: 32px;
          line-height: 35px;
          padding: 0;
      }

      .contacts__overlay-subtitle{
        max-width: 280px;
        font-size: 14px;
        line-height: 16px;
        padding: 0;
      }
      .contacts__address{
    font-family: "Inter", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
      }

      .contacts__button{
          margin: 16px 94px 45px 89px;
      }

  }