.header{
    position: relative;
}

.header__logo-wrapper{
    display: flex;
    justify-content: center;
}

.header__logo{
    padding-top: 34px;
    padding-bottom: 90px;
}

.header__lead{
    margin: 0 auto;
    max-width: 984px;
    min-height: 983px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.header__title{
    font-family: "Inter", Arial, sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: 100px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
    padding-bottom: 32px;
}

.header__subtitle{
    font-family: "Inter", Arial, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
    padding-bottom: 64px;
}

.header__image{
    max-width: 984px;
}

@media screen and (max-width: 960px) {
    .header__lead{
        max-width: 100%;
    }

    .header__title{
        width: 720px;
    }

    .header__subtitle{
        width: 720px;
        padding-bottom: 36px;
    }

    .header__image{
        width: 100%;
    }
}

@media screen and (max-width: 600px){
    .header__logo{
        max-width: 200px;
        height: 51.85px;
        margin-top: 20px;
        margin-bottom: 50.15px;
    }

    .header__lead {
        max-width: 320px;
      }
    
      .header__title {
        max-width: 90%;
        font-size: 40px;
        line-height: 44px;
        padding-bottom: 16px;
      }
    
      .header__subtitle {
        padding-bottom: 40px;
        max-width: 90%;
        font-size: 16px;
        line-height: 20px;
      }

}