.places{
    max-width: 987px;
    margin: 0 auto;
    /*margin-top: 88px;*/
       /* margin-bottom: 92px; */
}

.places__wrapper{
    max-width: 100%;
}

@media screen and (max-width: 960px) {
    .places{
        max-width: 720px;
        
    }

    .places__wrapper{
        max-width: 94vw;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 72px;
    }
}

@media screen and (max-width: 600px) {
    .places{
        max-width: 100%;
        margin-top: 62px;
        margin-bottom: 0;
    }

    .places__wrapper{
        max-width: 100%;
        gap: 50px;
    }
}